<style>
  
  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

</style>


<footer class=" footer page-footer grey darken-4" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text">Contato</h5>
          <p class="grey-text">technology advancing :) </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="grey-text">Redes sociais</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/oallanbreezy/"><img style="height: 40px; width: 40px; margin-left: 4px;" src="assets/inst.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/allan-samuel-10bbb7242/"><img style="height: 30px; width: 30px; margin-left: 9px;" src="assets/link.png"></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Mordinii"><img style="height: 40px; width: 50px;" src="assets/git.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text">
      © 2022 Copyright Text
      </div>
    </div>
  </footer>
      