<div class="navbar-fixed ">
    <nav class="nav-extended pink darken-4 ">
        <div class="container">
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a>Home</a></li>
            <li><a>Recursos</a></li>
            <li><a>Sobre</a></li>
        </ul>
        </div>
        <div class="nav-content">
        <span class="nav-title"></span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
            <i class="material-icons  blue-grey darken-4">add</i>
          </a>
        </div>
    </div>
    </nav>
</div>