<style>
.Font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 20px;
}

.NavF{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}


</style>


<div class="navbar-fixed ">
    <nav class="nav-extended grey darken-4 ">
        <div class="container">
        <div class="nav-wrapper">
        <img src="assets/img.png" style="display:inline-block" height="100" width="100">
        <span class="Font">Hacker type </span>
        <ul class="right hide-on-med-and-down">
            <li><a  class="NavF">Home</a></li>
            <li><a  class="NavF">Recursos</a></li>
            <li><a  class="NavF">Sobre</a></li>
        </ul>
        </div>
        <div class="nav-content">
        <a class="btn-floating grey darken-3 btn-large halfway-fab waves-effect waves-light teal">
            <i class="material-icons grey darken-3 ">add</i>
          </a>
        </div>
    </div>
    </nav>
</div>